.pagination{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
.pagination li{
    list-style-type: none;
    margin: 0 10px;
}
.pagination li a{
    display: block;
    padding: 9px 9px;
    text-decoration: none;
    color: blue;
    background-color:lightblue;
    border-radius: 4px;
}
.pagination li a.active{
    background-color: red;
    color: black;

}

       